@charset "UTF-8";   

@font-face {
    font-family: 'fontep2';
    src: url('../fontes/machiavelli/Machv2.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}


* {  /*configuração global  para eliminar o espaçamento do margin e padding*/
    margin: 0px;
    padding: 0px;
}



body {
   background:url("https://images.vexels.com/media/users/3/222147/raw/da3de7b089120cbe4deadf427fa70b68-desenho-de-fundo-de-espigas-de-trigo.jpg?w=1800&fmt=webp");
   
   text-align: justify;
   text-align: center;
   
}
 header {
   margin: 0px;
     text-align: center;
    padding-top: 0px; /*neste caso quando colocou o paadin ele se afastou do topo*/
    /*box-shadow: 0px 0px 10px rgba(0,0,0.705);  /*sombra dos lados*/
   /* border-radius: 10px; /* borda nos cantos arrendondados*/

 }


header > h1 {
    
  color: brown;
  font-family: 'fontep2', Arial, Helvetica, sans-serif;
   font-size: 8rem; /*letre mana tava 16rem vou deixar com 8*/
   margin-bottom: 0px;/*neste caso quando colocou o margin-botton, esse h1 deu espaçamento arao p (abaixo)*/
  /*  text-shadow: 5px 5px 1px rgba(162, 238, 9, 0.582);*/
   
}
header h2 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   text-align: center;
   margin-bottom: 0px;/*neste caso quando colocou o margin-botton, esse h1 deu espaçamento arao p (abaixo)*/
  /*  text-shadow: 5px 5px 1px rgba(162, 238, 9, 0.582);*/

}
header h3 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   text-align: center;
   margin-bottom: 0px;/*neste caso quando colocou o margin-botton, esse h1 deu espaçamento arao p (abaixo)*/
  /*  text-shadow: 5px 5px 1px rgba(162, 238, 9, 0.582);*/
  
}
header p {
   color:brown;
    font-family: 'fontep2', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2rem;
    padding: 20px
   
}
header > p1 {
    color: rgb(6, 253, 200);
    font-size: 3em;
    font-weight: bolder;
}
   
header > p3 {
    color: red;
}
header >.contatos {
    color: white;
      
    
    }

       
  nav {
      
    background-color:rgba(97, 163, 35, 0.555);
    padding: 0px;
    box-shadow: 0px 7px 7px rgba(0,0,0.192);
    word-spacing: 350px;
  
   
}
 nav > a {
     color: white;
     padding: 10px;
     text-decoration: none;
     font-weight: bolder;
     font-size: 1.5rem;
 
 }
 nav > a:hover {
     background-color: brown;
     color:var(--cor06);
     }

.contatos {
   margin-top:30px;  /* quanto maior, mais para baixo*/
   font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
}
    .contatos ul {
        font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color:black;   
}   
    .whatsmana {
       
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        font-weight: bolder;
        margin-top:30PX; 
    }

    /*AQUI COMEÇO A TRABALHAR COM O MENU*/
    img {
        width: 40px;  
        }
    input[type="checkbox"]
    {
        display: none;    
    }
    label {  /*este daqui só mexe com o riscado do menu*/
        padding: 15px;
        position: absolute; 
        z-index: 1;
        margin-left: -330px;
        top: 50px;
    }

    aside {
       
      /*  background-color: rgba(16,16,16,.5); /*esse cor é a transparencia que fica por cima da lista*/
        width: 350px;
        height: 100%;
         left: -480px;
        position: absolute; 
        transition: all .6s;
        
       
       
        }
       input[type="checkbox"]:checked ~ aside
        { 
             transform:translateX(350px);
    }
    aside > ul {
        /* background-color: blue;*/
          top: -570px; /* aqui quanto maior for o numero ele desce*/
          position:absolute; /* tem um detalhe sem esse comando o top, button e jeft não funciona.. nao esqueca de incluir a position absolute*/
          width: 100%;

    }

    aside > a{   
        display: block;
        padding: 0px; /*20px quer dizer o espaçamento entre um item e outro, 5px leva a margem para esquerda quanto maior o numero ele vai para esquerda*/
        color:white;
    }
    
    aside a:hover{
        background-color: #848484;
        color:black
    }

    footer#rodape {
        clear : both;
        margin-top: 10%;
         text-align: center; 
         background-color: aquamarine;
    }

    @media screen and (max-width:480px) {
        body {
            max-width:480px;
           
            

        }
        
    }
    @media screen and (max-width:480px) {
      header {
            max-width:480px;


        }
    }

    @media screen and (max-width:480px) {
        nav {
              max-width:480px;
              
  
          }
      }
     
      @media screen and (max-width:480px) {
        aside {
              max-width:480px;
  
  
          }
      }        
    