@charset "UTF-8";   

@font-face {
    font-family: 'fontep2';
    src: url('../fontes/machiavelli/Machv2.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color:black
}
body {
    font-family: Arial, Helvetica, sans-serif;
    /*background:url("../imagens/manaimg4.png") ;*/
    background:url("https://images.vexels.com/media/users/3/222147/raw/da3de7b089120cbe4deadf427fa70b68-desenho-de-fundo-de-espigas-de-trigo.jpg?w=1800&fmt=webp");

    overflow-x: hidden;


    /*menu com a lista começa aqui*/
}
aside ul {
    list-style: none;
}
img {
    width: 40px;  
    }
input[type="checkbox"]
{
    display: none;    
}

aside {
    background-color:rgba(16, 16, 16, .8);
    width: 350px;
    height: 100%;
     left: -350px;
    position: absolute; 
    transition: all .5s;
    }
   input[type="checkbox"]:checked ~ aside
    { 
         transform:translateX(350px);
}
  aside ul {
    /* background-color: blue;*/
      top:60px; /* aqui quanto maior for o numero ele desce*/
      position:absolute; /* tem um detalhe sem esse comando o top, button e jeft não funciona.. nao esqueca de incluir a position absolute*/
      width: 100%;
      right: -20px;
   
  }

  aside a{   
    display: block;
    padding: 20px 1px; /*20px quer dizer o espaçamento entre um item e outro, 5px leva a margem para esquerda quanto maior o numero ele vai para esquerda*/
    color:white;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "fontep2", Arial, Helvetica, sans-serif;

}

aside a:hover{
    background-color:#848484;
    color: black
}
label {  /*este daqui só mexe com o riscado do menu*/
    padding: 15px;
    position: absolute;
    z-index: 1;
}

  /*menu com a lista TERMINA AQUI*/

      
  nav {
      
    background-color:rgba(43, 43, 43, 0.514);
    padding-right: 5px;
    box-shadow: 0px 7px 7px rgba(0,0,0.192);
    word-spacing: 350px;
 
   

  
   
}
 nav > a {
     color: white;
     padding: 20px;
     text-decoration: none;
     font-weight: bolder;
     font-size: 1.5rem;
     text-align: center;
    
 }
    
     nav  li {
         display:inline-block;
         
         
         
    

     }
     
 
 
 nav > a:hover {
    /* background-color: brown;*/
     color:var(--cor06);
     }


     
 header {
    margin: 0px;
      text-align: center;
     padding-top: 0px; /*neste caso quando colocou o paadin ele se afastou do topo*/
     /*box-shadow: 0px 0px 10px rgba(0,0,0.705);  /*sombra dos lados*/
    /* border-radius: 10px; /* borda nos cantos arrendondados*/
 
  }
 
 
 header > h1 {
     
   color:brown;
   font-family: 'fontep2', Arial, Helvetica, sans-serif;
    font-size: 4rem; /*letre mana tava 16rem vou deixar com 8*/
    margin-bottom: 0px;/*neste caso quando colocou o margin-botton, esse h1 deu espaçamento arao p (abaixo)*/
   /*  text-shadow: 5px 5px 1px rgba(162, 238, 9, 0.582);*/
    
 }
 header h2 {
     color:black;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0px;/*neste caso quando colocou o margin-botton, esse h1 deu espaçamento arao p (abaixo)*/
   /*  text-shadow: 5px 5px 1px rgba(162, 238, 9, 0.582);*/
 
 }
 header h3 {
     color:black;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0px;/*neste caso quando colocou o margin-botton, esse h1 deu espaçamento arao p (abaixo)*/
   /*  text-shadow: 5px 5px 1px rgba(162, 238, 9, 0.582);*/
   
 }
 header p {
    color:brown;
     font-family: 'fontep2', Arial, Helvetica, sans-serif;
     font-style: italic;
     font-size: 1rem;
     padding: 20px
    
 }
 header > p1 {
     color: rgb(6, 253, 200);
     font-size: 1.5em;
     font-weight: bolder;
 }
    
 header > p3 {
     color: red;
 }
 header >.contatos {
     color: white;
       
     
     }

     .contatos {
        margin-top:30px;  /* quanto maior, mais para baixo*/
        font-family: Arial, Helvetica, sans-serif;
         font-size: 2rem;
         font-weight: bolder;
     }
         .contatos ul {
             font-family: Arial, Helvetica, sans-serif;
         font-size: 1rem;
         font-weight: bolder;
         color:black;   
     }   
         .whatsmana a {
            
             font-family: Arial, Helvetica, sans-serif;
             font-size: 1rem;
             font-weight: bolder;
             margin-top:30PX; 
             text-decoration:underline;
             color:blue
         }
     
     footer#rodape {
        clear : both;
        margin-top: 10%;
         text-align: center; 
         background-color: rgba(43, 43, 43, 0.514);

              
    }

    footer#rodape a {
        text-decoration:underline;
        color:blue;
    }

     
     @media screen and (max-width:480px) {
        body {
            max-width:480px;
           
            

        }
        
    }
    

@media screen and (max-width:480px) {
    aside {
          max-width:480px;


      }
  } 
  @media screen and (max-width:480px) {
    nav {
          max-width:480px;
          

      }
  }       

  @media screen and (max-width:480px) {
    header {
          max-width:480px;


      }
  }